<!DOCTYPE html>
<html>
  <head>
    <title>Slide Navbar</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main">
      <input type="checkbox" id="chk" aria-hidden="true" />

      <div class="signup">
        <form (submit)="login()" #myForm="ngForm">
          <label for="chk" aria-hidden="true">Login</label>
          <input
            type="text"
            id="txtbox"
            name="UserName"
            placeholder="User Name"
            required=""
            [(ngModel)]="credentials.userName"
          />

          <!-- <input
            type="password"
            id="txtbox"
            name="pswd"
            placeholder="Password"
            required=""
            [(ngModel)]="credentials.password"
          /> -->
          <div class="password-container">
            <input
              type="{{ showPassword ? 'text' : 'password' }}"
              id="txtbox"
              name="pswd"
              placeholder="Password"
              required=""
              [(ngModel)]="credentials.password"
            />
            <i
              class="fa-solid fa-eye"
              id="eye"
              (click)="togglePasswordVisibility()"
            ></i>
          </div>

          <!-- <button (click)="togglePasswordVisibility()">
            {{ showPassword ? "Hide" : "Show" }} Password
          </button> -->

          <button>Login</button>
        </form>
      </div>

      <div class="login" (submit)="register()">
        <form>
          <label for="chk" aria-hidden="true">SignUp</label>
          <input
            type="text"
            id="txtbox"
            name="txt"
            placeholder="Username"
            [(ngModel)]="user.userName"
            required=""
          />
          <input
            type="email"
            required
            id="txtbox"
            name="email"
            placeholder="Email"
            [(ngModel)]="user.email"
            required=""
          />
          <input
            type="password"
            id="txtbox"
            name="pswd"
            placeholder="Password"
            [(ngModel)]="user.password"
            required=""
          />
          <button>SignUp</button>
        </form>
      </div>
    </div>
  </body>
</html>
