<nav class="navbar navbar-expand navbar-dark bg-primary px-2">
  <div class="side-nav-button p-2 me-3 text-light" (click)="sideNavToggle()">
    <i class="fa-solid fa-bars"></i>
  </div>
  <a class="navbar-brand px-4" href="#">Ecomm</a>
  <!-- <div class="navbar-collapse">
    <ul class="navbar-nav me-auto">
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link" routerLink="./home"
          >Home <span class="sr-only"></span
        ></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="./features">Features</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="./about">About</a>
      </li>
    </ul>
  </div> -->

  <form class="d-flex me-5">
    <!-- <input class="form-control me-2" type="search" placeholder="Search" /> -->
    <!-- <button
      class="btn btn-outline-light"
      type="submit"
      (click)="onLogoutClick()"
    >
      Logout
    </button> -->
  </form>
  <!-- <div class="profile-logo dropdown" style="margin-right: 3%">
    <button
      class="btn btn-outline-light dropdown-toggle"
      data-bs-toggle="dropdown"
    >
      Deeban
    </button>
    <ul class="dropdown-menu dropdown-menu-dark" style="margin-top: 9%">
      <li><a href="#" class="dropdown-item">Your Profile</a></li>
      <li><a href="#" class="dropdown-item">Settings</a></li>
      <li>
        <a
          class="dropdown-item"
          style="cursor: pointer"
          (click)="onLogoutClick()"
          >Logout</a
        >
      </li>
    </ul>
  </div> -->

  <div class="profile-container">
    <div class="profile-info">
      <!-- Add your profile information here, e.g., name, image, etc. -->
      <span class="profile-name">{{ userName }}</span>
      <img
        class="profile-image"
        src="https://t3.ftcdn.net/jpg/05/17/79/88/360_F_517798849_WuXhHTpg2djTbfNf0FQAjzFEoluHpnct.jpg"
        alt="Profile Image"
      />
    </div>
    <div class="dropdown-content">
      <a class="dropdown-item">Settings</a>
      <a>Profile Settings</a>
      <a (click)="onLogoutClick()" style="cursor: pointer">Logout</a>
    </div>
  </div>
</nav>
