.border-white {
  border: 1px solid black;
}
.side-nav-content {
  color: black;
  width: 44px;
  /* max-height: 100vh; */
  /* overflow-y: auto; */
  height: 663px;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: -100px;
}
.nav-list {
  list-style: none;
  height: 100%;
  padding: 0%;
  margin-bottom: 0%;
}

.nav-list-item {
  display: flex;
  align-items: center;
  height: 70px;
  transition: background-color 0.3s, border-radius 0.3s;
  box-sizing: border-box;
}

.nav-list-item.home {
  position: relative;
  top: 90px;
}

.nav-list-item.analytics {
  position: relative;
  top: 80px;
}
.nav-list-item.products {
  position: relative;
  top: 80px;
}
.nav-list-item.order {
  position: relative;
  top: 80px;
}
.nav-list-item.settings {
  position: relative;
  top: 80px;
}
.nav-list-item.about {
  position: relative;
  top: 80px;
}
.nav-list-item.contact {
  position: relative;
  top: 80px;
}

.nav-list-open.nav-list-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  /* margin-top: 10%; */
  height: 28px;
  width: 40px;
  overflow-x: hidden;
  white-space: nowrap;
}

.nav-list-item:hover i {
  color: whitesmoke;
}
.nav-list-open.nav-list-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.nav-list-item i {
  font-size: 20px;
  height: 25px;
  width: 25px;
  color: white;
  margin-right: 15px;
  margin-left: 10px;
  text-align: center;
  line-height: 25px;
}
.nav-list-item span {
  width: 170px;
  text-transform: capitalize;
}
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
